# HYDRA Auth
HYDRA_CLIENT_ID=
HYDRA_CLIENT_SECRET=
HYDRA_GRANT_TYPE=password
HYDRA_SCOPE=api1
HYDRA_USERNAME=
HYDRA_PASSWORD=

# HYDRA Site
HYDRA_DEVICE_ID=
HYDRA_SENSOR_ID=

# App
HYDRA_APP_TITLE=HYDRA Energy Intelligence
